<div class="form-field">
    <label>Name: </label>
    <div>
        <InputText @bind-Value="NewUser.Name"></InputText>
    </div>
</div>

<div class="form-field">
    <label>Username: </label>
    <div>
        <InputText @bind-Value="NewUser.Username"></InputText>
    </div>
</div>

<div class="form-field">
    <label>Email Address: </label>
    <div>
        <InputText @bind-Value="NewUser.Email"></InputText>
    </div>
</div>

<div class="form-field">
    <label>Password: </label>
    <div>
        <InputText @bind-Value="NewUser.Password"></InputText>
    </div>
</div>

@code {
    [Parameter] public NewUser NewUser { get; set; }
}